@charset "utf-8";
/* fe293d */
/* @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css"; */
/* @font-face { font-family: 'DINCond-Bold'; src: url('../fonts/DINCond-Bold.eot'); src: local('DINCond-Bold'), local('DINCond-Bold'), url('../fonts/DINCond-Bold.woff') format('woff'), url('../fonts/DINCond-Bold.ttf') format('truetype'), url('../fonts/DINCond-Bold.svg#DINCond-Bold') format('svg'); } */
/* @font-face { font-family: 'COUTURE-BLD_0'; src: url('../fonts/COUTURE-BLD_0.eot'); src: local('COUTURE-BLD_0'), local('COUTURE-BLD_0'), url('../fonts/COUTURE-BLD_0.woff') format('woff'), url('../fonts/COUTURE-BLD_0.ttf') format('truetype'), url('../fonts/COUTURE-BLD_0.svg#COUTURE-BLD_0') format('svg'); } */
html { color: #000; background: #FFF; }
body { color: #111111; font-family: "\5FAE\8F6F\96C5\9ED1"; font-size: 14px; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: inherit; font-weight: inherit; }
del, ins { text-decoration: none; }
li { list-style: none; }
caption, th { text-align: left; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0; font-variant: normal; }
sup { vertical-align: baseline; }
sub { vertical-align: baseline; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
input, button, textarea, select { *font-size:100%;
}
img { vertical-align: middle }
table { background: #fff }
a { text-decoration: none; color: #101010; }
.fl { float: left; }
.fr { float: right; }
input, select { vertical-align: middle; }
.u-fadeInUp { -webkit-animation-name: fadeInUp; animation-name: fadeInUp }
.is-animated { -webkit-animation-duration: .9s; animation-duration: .9s; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-timing-function: cubic-bezier(.4, 0, .2, 1); animation-timing-function: cubic-bezier(.4, 0, .2, 1) }
@-webkit-keyframes fadeInUp {
from {
opacity:0;
-webkit-transform:translate3d(0, 75%, 0);
transform:translate3d(0, 75%, 0)
}
to {
opacity:1;
-webkit-transform:none;
transform:none
}
}
@keyframes fadeInUp {
from {
opacity:0;
-webkit-transform:translate3d(0, 75%, 0);
transform:translate3d(0, 75%, 0)
}
to {
opacity:1;
-webkit-transform:none;
transform:none
}
}
.wrap_top { background: #444444; height: 35px; width: 100%;position: fixed;top:0px;z-index:12; }
.top { max-width: 1672px;height: 35px; width: 87%; position: fixed; top:0px;z-index:12; min-width: 1340px; line-height: 35px; font-size: 16px; margin: auto; color: #a8a8a8; font-family: "DINCond-Bold", \5FAE\8F6F\96C5\9ED1, Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif" }
.top li { float: right; margin-right: 10px; }
#login{font-size:15px;}
#login a{color:#d9d7d7;}
#regis{font-size:15px;}
#regis a{color:#d9d7d7;}
.ant-modal {top:150px !important;}
.ant-modal {text-align: center;}
.ant-upload.ant-upload-select.ant-upload-select-picture-card{width:70px !important;height:70px !important;margin-bottom:10px !important;margin:auto;}
.ant-upload-text{font-size: 12px !important;}
.ant-upload.ant-upload-select-picture-card > .ant-upload {padding:3px !important;}
.userpic{width:60px;height:60px;}
.nick_name{width:300px !important;margin:0 auto !important;}
.password{width:300px !important;margin:0 auto !important;}
.phone{width:300px !important;margin:0 auto !important;}
.login-btn{margin-left:155px !important;}
.regis-btn{margin-left:155px !important;}
.top li img { float: left; margin-top: 10px; } 
.weixin_open { position: absolute; top: -7px; right: 200px; display: none;}
.wrap_header { background: #1a1a1a; color: #fff; position: fixed;width:100%;top:35px;height:100px;z-index:12;}
.header { max-width: 1834px; width: 78%; min-width: 1300px; height: 100px; margin: auto; position: fixed}
.header img.logo { float: left; margin-left:3%}
.header img.logo:hover { transform: scale(1); }
.header a { color: #c0af93; }
.moka{float:left;font-weight: normal;padding-top:27px;padding-left:20px;color:#fff;}
.header .nav { width: 60%; float: left; padding: 36px 0 43px 90px; font-size: 16px; }
.header .nav li { float: left; padding-right: 1.8%; padding-left: 1.8%; height: 21px; overflow: hidden; }
.header .nav li a { transition: 0.3s cubic-bezier(0.1, 0.1, 0.5, 1.4); margin-top: 0px; margin-bottom:50px; margin-top: -23px; color: #FFF; font-family: "COUTURE-BLD_0", \5FAE\8F6F\96C5\9ED1 }
.header .nav li a:hover { color: #fff; margin-top: 0px; }
.header .nav li a:before { content: attr(data-text); display: block; }
.header dl { float: left; padding-left: 3%; }
.header dl dd { float: left; height: 78px; width: 76px; text-align: center; padding-top: 22px; }
.header dl dd a { display: block; cursor: pointer }
.header dl dd a:hover { }
.header dl dd.on { background: #ff283c }
/*video*/
.index_zw {
    width: 100%;
    height: 100%;
    background-color: #777777;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.5;
}
.i-all {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 11;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%,-50%);
}
.i-english {
    display: block;
    margin: 0 auto;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
/*首页走马灯*/
.ant-carousel{
    height:480px;
}
.ant-carousel .slick-slider {
    float: left;
    height:480px;
    overflow: hidden;
    width: 100%;
    max-width:1920px;
  }

  .fluid {
    height:480px;
    max-width: 100% !important;
  }
  .brand_words {
    text-align: center;
    margin-bottom: 1%;
}
.brand_words h1 {
    font-family: "Didot";
    font-size: 2rem;
    margin-bottom: 15px;
}
.brand_words p {
    font-family: "黑体";
    font-size: 1.5rem;
    margin-bottom: 1%;
    color: #212529;
}
.brand_words span {
    font-family: "Arial";
    font-size: 0.8rem;
    display: block;
    width: 100%;
    transform: scale(0.64);
}
/*首页最新客照轮播*/
/* .ant-carousel .new_cen.slick-initialized .slick-slide{
    width: 1047px !important;
}  */
.newfluid{
    max-width: 674px;
    height:375px;
}
.ant-btn{
    background-color: #1a1a1a !important;
    border-color:#1a1a1a !important;
    color:#fff !important;
    width: 150px;
    float: left;
    margin-left: 300px;
    margin-top: 20px;
}
.ant-btn.view_more{
    margin-left:300px !important;
}
/*首页新闻中心*/

.picScroll-left { overflow:hidden; height: 550px; position:relative;background: #1a1a1a  no-repeat center 676px; }
.picScroll-left .hd { width: 1300px; overflow: hidden;  margin: auto;margin-top:50px; }
.picScroll-left .hd .next{
    display: block; 
    width: 39px; 
    height: 42px; 
    position: absolute; 
    overflow: hidden; 
    cursor: pointer; 
    top: 190px;
    margin-left:28px;
    background:url("../picture/prev.png") no-repeat;
}
.picScroll-left .hd .prev { 
    display: block; 
    width: 39px; 
    height: 42px; 
    position: absolute; 
    overflow: hidden; 
    cursor: pointer; 
    top: 189px;
    right:32px; 
    background:url("../picture/next.png") no-repeat;
    
}

.news_center{overflow:hidden; height: 550px; position:relative;background: #1a1a1a  no-repeat center 676px;margin-bottom:0px !important;}
.news_center .slick-list .slick-track .slick-slide.slick-cloned{width:270px !important;margin-right: 28px;}
.news_center .slick-list .slick-track .slick-slide.slick-active{width:270px !important;margin-right: 28px;}
.news_center .slick-list{margin-left:78px !important;margin-right:92px !important;}
.clone{ float: left;  overflow:hidden; text-align: center; margin-top:50px;width: 270px !important; overflow: hidden; height:400px; background: #fff; position: relative }
.pic { text-align: center; width: 270px !important;height:190px !important;}
.pic img { width: 270px; height: 190px; }
.slick-slide img{max-width: 100% !important;}
.pic a:hover img { border-color: #999; }
.title { line-height: 24px; }
.txtc h2 { font-size: 16px; color: #4f4f4f; font-weight: normal; padding: 20px; padding-bottom: 0; text-align: left }
.txtc p { padding-top: 10px; color: #838383; text-align: left; padding: 20px; padding-bottom: 0; }
.txtc span { width: 100%; position: absolute; color: #838383; bottom: 0; left: 0; height: 42px; line-height: 42px; font-size: 12px; border-top: solid 1px #eae3db }
.clone:hover .txtc h2 { color: #ab9171; }
.clone:hover .txtc p { color: #ab9171; }
.clone:hover .txtc span { color: #ab9171; }
.slick-prev, .slick-next {top:30% !important;}


.bottom_show img {width:100%;}

/*底部*/
.footer{
    float: left;
    width:100%;
    height:200px;
    background-color: #282828;
    bottom:0px;
    color:#9e9e9e;
    font-weight:500;
}
.foot_left{
    float: left;
    width:460px;
    height: 60px;
    margin-left:15%;
    margin-top:50px;
    border-right: solid 1px #4e4943;
}
.foot_right{
    float:right;
    width:400px;
    height:50px;
    margin-right:15%;
    margin-top:55px;
}
.foot_right li{
    float: left;
}
.foot_bottom{
    float:left;
    margin-left:32%;
    line-height: 30px;
    margin-top:20px;
}
/*品牌简介*/
.pinpai1{
    margin:auto;
    max-width: 1920px;
    width:100%;
    position: relative;
}
.pinpai1 img{
    width: 100%;
    height: auto;
    max-width: 1920px;
    margin: auto;
    display: block;
}
.pinpai2{
    text-align: center;
    padding:45px 0;
}
.pinpai3{
    width: 1300px;
    height: auto;
    margin: auto;
    overflow: hidden;
    text-align: center;
}
.pinpai5{    
    padding-bottom:10px;
    
}
.pinpai6{
    padding-right: 10px;
}
.p_p1{
    width:50%;
    float:left;
}
.pinpai9{
    float:right;
    width:50%;
    height:390px;
    background-color:#f4f4f4;
    padding:30px 100px 40px 50px;
    text-align: left;
}
.pinpai9 h4{
    color:#ff0533;
    font-size: 20px;
    font-weight: bold;
}
.moka_intro_1{
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 70px;
}
.eng_intro{
    font-size: 10px;
}
.pinpai10{
    float:left;
    width:50%;
    height:390px;
    background-color:#f4f4f4;
    padding:30px 100px 40px 50px;
    text-align: left;
}
.pinpai10 h4{
    color:#ff0533;
    font-size: 20px;
    font-weight: bold;
}
.p_p2{
    width:50%;
    float:right;
    height:390px;
}
/*摄影展示*/
.index_pinpai {
    text-align: center;
    max-width: 1920px;
    margin: auto;
    position: relative;
}
.index_pinpai img.big {
    width: 100%;
    height: 100%;
}
.index_pinpai .txt {
    position: absolute;
    bottom: 10%;
    width: 510px;
    left: 50%;
    margin-left: -255px;
    color: #FFF;
}
.index_pinpai .txt .sp1 {
    display: block;
}
.index_pinpai .txt img {
    display: inline-block;
}
.index_pinpai .txt img.sp_c {
    padding: 0 10px;
}
.index_pinpai .txt .sp2 {
    display: block;
    padding-top: 10px;
}
.index_pinpai h2 {
    font-family: "DINCond-Bold";
    font-size: 34px;
    color: #ff283c;
}
.index_pinpai h3 {
    font-weight: normal;
    padding-top: 5px;
    color:#fff;
}
.kepian_list { width:1300px; margin-left:10%; overflow: hidden; margin-top:80px;margin-bottom:50px;}
.kepian_list li { float: left; width: 20%; margin-right: 1%; position: relative; height:495px; overflow: hidden;margin-bottom:5px; }
.kepian_list li .p-con { width: 100%;height:415px; overflow: hidden; }
.kepian_list li img {width: 100%;height:415px;}
.kepian_list li h2 { font-size: 18px; font-weight: normal;padding-top:5px; width: 100%; float: left;margin-bottom:0 !important }
.kepian_list li span { font-size: 12px; width: 100%; float: left; }
.kepian_list li em { font-size: 12px; width: 100%; float: left; }
.kepian_list li .p-txt { width: 100%; height: 80px; background: #fff; position: absolute; bottom: 0; left: 0; z-index: 3 }
.kepian_list li .pic-cover {
    position: absolute;
    top: 415px;
    left: 0;
}
.kepian_list li a:hover img { transform: scale(1); }
/*摄影展示二级页*/
.article_content { width: 1200px; margin:auto;margin-top:50px; overflow: hidden; position: relative; padding-top: 20px; padding-bottom: 100px; }
.back_list { position: absolute; top: 20px; left: 0; }
.back_list a{color:#000;}
.article_content h1 { text-align: center; width: 100%; font-size: 32px; font-weight: normal; }
.article_content img { max-width: 100%; height: auto; }
.article_content_txt { line-height: 24px; }
.article_content h2 { text-align: center; width: 100%; font-size: 14px; font-weight: normal; }
.show_kepian h1 { border-bottom: solid 1px #cacacf; padding-bottom: 10px; }
.show_kepian h2 { color: #898989; background: none }
.description { font-size: 16px; width: 790px; margin: auto; text-align: center; line-height: 24px; color: #1a1a1a; }
.container { width: 1200px; margin: auto; overflow: hidden; margin-top: 62px; padding-left:30px; }
.container:before, .container:after { content: ""; display: table; }
.container:after { clear: both; }
.item { float: left; margin-bottom: 30px; }
.item img { max-width: 94%; max-height: 100%; cursor: pointer; vertical-align: bottom; width: auto; height: 162px; border: solid 5px #f5f5f5 }
.item img:hover { border: solid 5px #ff283a }
.first-item { clear: both; }
.last-row, .last-row ~ .item { margin-bottom: 0; }
.qiehuan_title { text-align: center; line-height: 24px; font-size: 16px; margin-top: 84px; position: relative }
.back_list { position: absolute; left: 0; top: 0; }
.qiehuan_title a { color: #c1b396; }
.show_activity { width: 100%; overflow: hidden; position: relative }
.show_activity img { max-width: 1920px; width: 100%; height: auto; vertical-align: middle }
.show_activity .index-slide { display: none; }
.empty_scroll { height: 120px; display: block; width: 100%; }
/*新闻中心*/
.news_banner {
    position: relative;
    max-width: 1920px;
    margin: auto;
}
.news_banner img {
    width: 100%;
    height: auto;
    max-width: 1920px;
    margin: auto;
    display: block;
}
.new_tit h1 { text-align: center; width:100%; margin-top:50px;font-weight:bold;font-size: 20px;border-bottom: solid 1px #cacacf; padding-bottom:5px;  }
.new_tit h2 { text-align: center; width:100%; font-size: 11px; color:#898989; background:none; margin-bottom:50px; }
.news_list { width:1200px; margin: auto; overflow: hidden;margin-left:7%;}
.news_list ul.list { overflow: hidden;}
.news_list ul.list li { float: left; width: 270px; margin-right:2%; padding-bottom: 50px; position: relative }
.news_list ul.list li img.news-cover { display: none; position: absolute; left: 0; top: 0; }
.news_list .n-pic { width: 270px; height: 190px; overflow: hidden; }
.news_list .n-pic img { width: 100%; height: 190px; }
.news_list h2 { text-align: center; width: 100%; font-size: 14px; font-weight: normal; padding-top:10px; }
.news_list p { line-height: 24px; font-size: 12px; }
.news_list span { float: left; font-size: 12px; color: #787878; }
.news_list em { float: right; font-size: 12px; color: #787878; }
.news_list .time { border-bottom: solid #cacacf 1px; overflow: hidden; margin-bottom:15px; padding-bottom: 10px; }
.news_list a.browse { width:98px; height: 28px; line-height:28px; margin: auto; display: block; font-size:10px; font-family: "DINCond-Bold"; background: #ff283c; color: #FFF; text-align: center; }
.news_list ul.list li:hover h2 { color: #bfaf93; }
.news_list ul.list li:hover p { color: #bfaf93; }
.news_list ul.list li:hover span { color: #bfaf93; }
.news_list ul.list li:hover em { color: #bfaf93; }
.news_list ul.list li:hover a.browse { background: #bfaf93 }
.news_list ul.list li:hover img.news-cover { display: block; }
/*新闻中心详情页*/
.article_content_txt p{text-indent: 2em;}
/*真实评价*/
.com_banner {
    position: relative;
    max-width: 1920px;
    margin: auto;
}
.com_banner img {
    width: 100%;
    height: auto;
    max-width: 1920px;
    margin: auto;
    display: block;
}
.ant-list {
    width: 80% !important;
    
} 
.ant-list-header, .ant-list-footer {
    color: #fe293d;
    font-weight: bold;
    font-size: 22px;
}
.comment-list{
    margin:0 auto !important;
    margin-top:30px !important;
}
.add_comment{
    width:80%;
    margin:0 auto;
}
.ant-btn, .ant-btn:active, .ant-btn:focus {
    margin-left: 0 !important;
}
/*预约拍摄*/
.order_bg{
    background: url(../picture/yybg00.jpg) center no-repeat;
    width:100%;
    height: 100%;
}
.ant-col-sm-16 {
    margin-bottom: 50px;
}
.ant-input-number {
    width:375px !important;
}

.ant-calendar-picker {
    width:375px !important;
}
.ant-cascader-menus {
    width: 375px;
}
.ant-cascader-menu{
    width:375px;
}