@charset "utf-8";
/* @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css"; */
/* @font-face { font-family: 'DINCond-Bold'; src: url('../fonts/DINCond-Bold.eot'); src: local('DINCond-Bold'), local('DINCond-Bold'), url('../fonts/DINCond-Bold.woff') format('woff'), url('../fonts/DINCond-Bold.ttf') format('truetype'), url('../fonts/DINCond-Bold.svg#DINCond-Bold') format('svg'); } */
/* @font-face { font-family: 'COUTURE-BLD_0'; src: url('../fonts/COUTURE-BLD_0.eot'); src: local('COUTURE-BLD_0'), local('COUTURE-BLD_0'), url('../fonts/COUTURE-BLD_0.woff') format('woff'), url('../fonts/COUTURE-BLD_0.ttf') format('truetype'), url('../fonts/COUTURE-BLD_0.svg#COUTURE-BLD_0') format('svg'); } */
html { color: #000; background: #FFF; }
body { color: #111111; font-family: "\5FAE\8F6F\96C5\9ED1"; font-size: 14px; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: inherit; font-weight: inherit; }
del, ins { text-decoration: none; }
li { list-style: none; }
caption, th { text-align: left; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0; font-variant: normal; }
sup { vertical-align: baseline; }
sub { vertical-align: baseline; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
input, button, textarea, select { *font-size:100%;
}
img { vertical-align: middle }
table { background: #fff }
a { text-decoration: none; color: #101010; }
.fl { float: left; }
.fr { float: right; }
input, select { vertical-align: middle; }
/* .u-fadeInUp { -webkit-animation-name: fadeInUp; animation-name: fadeInUp }
.is-animated { -webkit-animation-duration: .9s; animation-duration: .9s; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-timing-function: cubic-bezier(.4, 0, .2, 1); animation-timing-function: cubic-bezier(.4, 0, .2, 1) }
@-webkit-keyframes fadeInUp {
from {
opacity:0;
-webkit-transform:translate3d(0, 75%, 0);
transform:translate3d(0, 75%, 0)
}
to {
opacity:1;
-webkit-transform:none;
transform:none
}
}
@keyframes fadeInUp {
from {
opacity:0;
-webkit-transform:translate3d(0, 75%, 0);
transform:translate3d(0, 75%, 0)
}
to {
opacity:1;
-webkit-transform:none;
transform:none
}
} */
.wrap_top { background: #444444; height: 35px; width: 100%;position: fixed;top:0px;z-index: 10000; }
.top { max-width: 1672px;height: 35px; width: 87%; position: fixed; top:0px;z-index: 10000; min-width: 1300px; line-height: 35px; font-size: 16px; margin: auto; color: #a8a8a8; font-family: "DINCond-Bold", \5FAE\8F6F\96C5\9ED1, Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif" }
.top li { float: right; margin-right: 10px; }
.top li img { float: left; margin-top: 10px; }
.weixin_open { position: absolute; top: -7px; right: 170px; display: none; }
.tmall_open { position: absolute; top: -7px; right: 135px; display: none; }
.wrap_header { background: #1a1a1a; color: #fff; position: fixed;width:100%;top:35px;height:100px;z-index: 10000;}
.header { max-width: 1834px; width: 78%; min-width: 1300px; height: 100px; margin: auto; position: fixed}
.header img.logo { float: left; margin-left:3%}
.header img.logo:hover { transform: scale(1); }
.header a { color: #c0af93; }
.moka{float:left;font-weight: normal;padding-top:27px;padding-left:20px;color:#fff;}
.header .nav { width: 60%; float: left; padding: 36px 0 43px 90px; font-size: 16px; }
.header .nav li { float: left; padding-right: 1.8%; padding-left: 1.8%; height: 21px; overflow: hidden; }
.header .nav li a { transition: 0.3s cubic-bezier(0.1, 0.1, 0.5, 1.4); margin-top: 0px; margin-bottom:50px; margin-top: -23px; color: #FFF; font-family: "COUTURE-BLD_0", \5FAE\8F6F\96C5\9ED1 }
.header .nav li a:hover { color: #fff; margin-top: 0px; }
.header .nav li a:before { content: attr(data-text); display: block; }
.header dl { float: left; padding-left: 3%; }
.header dl dd { float: left; height: 78px; width: 76px; text-align: center; padding-top: 22px; }
.header dl dd a { display: block; cursor: pointer }
.header dl dd a:hover { }
.header dl dd.on { background: #ff283c }
/*video*/
.index_zw {
    width: 100%;
    height: 100%;
    background-color: #777777;
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.5;
}
.i-all {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1100;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%,-50%);
}
.i-english {
    display: block;
    margin: 0 auto;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
/*首页走马灯*/
.ant-carousel{
    height:480px;
}
.ant-carousel .slick-slider {
    float: left;
    height:480px;
    overflow: hidden;
    width: 100%;
    max-width:1920px;
  }

  .ant-carousel .slick-slider img {
    height:480px;
    width: 100%;
  }

  .brand_words {
    text-align: center;
    margin-bottom: 3%;
}
.brand_words h1 {
    font-family: "Didot";
    font-size: 2rem;
    margin-bottom: 15px;
}
.brand_words p {
    font-family: "黑体";
    font-size: 1.5rem;
    margin-bottom: 1%;
    color: #212529;
}
.brand_words span {
    font-family: "Arial";
    font-size: 0.8rem;
    display: block;
    width: 100%;
    transform: scale(0.64);
}
